.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: rgba(255, 255, 255, 0.5);
    /* height: 100vh; */
    width: 100%;
    border-radius: 10px;
}


form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 86%;
}

.input-field {
    /* position: relative; */
    border-bottom: 2px solid;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #2b3252;
    width: 100%;
}


input {
    background: none;
    border: none;
    outline: none;

}

select {
    width: 100%;
    height: 20px;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label {
    font-size: small;
    font-weight: bold;
}

@media(min-width:651px) {
    .user-details {
        height: 100vh;
        justify-content: center;
    }
}

@media(min-width:720px) {
    .input-field {
        margin-top: 10px;
        margin-bottom: 20px
    }

    .user-details {
        justify-content: center;
    }
}

@media(min-width:898px) {
    .user-details {
        height: 84vh;
        width: 84%;
    }

    select {
        height: 30px;
    }
}